{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista testów</h1>
        {% for test in tests %}
            <h2><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.title }}</a></h2>
                {% for question in test.questions %}
                    <h3>{{ question.text }}</h3>
                    {% for answer in question.answers %}
                        <p>{{ answer.text }}</p>
                    {% endfor %}
                {% endfor %}
            <ul>
                <li>
                    <a href="{{ path('test_show', { 'id': test.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('test_edit', { 'id': test.id }) }}">edit</a>
                </li>
                <li>
                    <a href="{{ path("test_generate_pdf", {id: test.id}) }}">Wygeneruj pdf</a>
                </li>
            </ul>
        {% endfor %}
    <ul>
        <li>
            <a href="{{ path('test_new') }}">Create a new test</a>
        </li>

    </ul>
{% endblock %}
